<h3 class="text-4xl my-3 font-extrabold text-center">All Sessions</h3>

<div class="w-4/5 md:w-3/5 mx-auto mb-3">
  <% @games.each do |game| %>
  <div class="mb-3">
    <%= render game %>
  </div>
  <% end %>

  <%= link_to "Add New Session", new_game_path, class: 'btn btn-primary' %>
</div>